USE [master]
GO
/****** Object:  Database [PetStore]    Script Date: 05-Nov-21 4:45:49 PM ******/
CREATE DATABASE [PetStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PetStore.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PetStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PetStore_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetStore]
GO
/****** Object:  Table [dbo].[tblBillDetails]    Script Date: 05-Nov-21 4:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBillDetails](
	[BillDetailID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[PetID] [int] NOT NULL,
	[QuantityBuy] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[SubTotal] [money] NOT NULL,
 CONSTRAINT [PK_tblBillDetails] PRIMARY KEY CLUSTERED 
(
	[BillDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBills]    Script Date: 05-Nov-21 4:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBills](
	[BillID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Freight] [money] NULL,
	[Total] [money] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tblBills] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 05-Nov-21 4:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 05-Nov-21 4:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [nvarchar](120) NOT NULL,
	[AccumulatedPoint] [int] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__tblCusto__A4AE64B8CE37F110] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPets]    Script Date: 05-Nov-21 4:45:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPets](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PetName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[ImportPrice] [money] NOT NULL,
	[ExportPrice] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tblPets] PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblCategories] ON 

INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Dog')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Cat')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Rabbit')
SET IDENTITY_INSERT [dbo].[tblCategories] OFF
SET IDENTITY_INSERT [dbo].[tblCustomers] ON 

INSERT [dbo].[tblCustomers] ([CustomerID], [CustomerName], [Gender], [Email], [Phone], [Address], [AccumulatedPoint], [Status]) VALUES (1, N'Võ Văn Phương', 0, N'vanphuong0606@gmail.com', N'09717751691', N'94/21 Bùi Quang Là, phường 12, quận Gò Vấp TPHCM', 2, 1)
INSERT [dbo].[tblCustomers] ([CustomerID], [CustomerName], [Gender], [Email], [Phone], [Address], [AccumulatedPoint], [Status]) VALUES (2, N'Lê Thiên Ân ', 1, N'thienan@gmail.com', N'0321211692', N'Cà Mau miền Tây', 3, 1)
INSERT [dbo].[tblCustomers] ([CustomerID], [CustomerName], [Gender], [Email], [Phone], [Address], [AccumulatedPoint], [Status]) VALUES (3, N'Nguyễn Thị Hoàng Dung', 0, N'dungnguyen@gmail.com', N'0931283821', N'Hải Phòng', 1, 1)
SET IDENTITY_INSERT [dbo].[tblCustomers] OFF
SET IDENTITY_INSERT [dbo].[tblPets] ON 

INSERT [dbo].[tblPets] ([PetID], [CategoryID], [PetName], [Age], [Gender], [Color], [QuantityInStock], [ImportPrice], [ExportPrice], [Status]) VALUES (1, 1, N'Chó Phú Quốc', 1, 1, N'Black', 16, 300000.0000, 500000.0000, 1)
INSERT [dbo].[tblPets] ([PetID], [CategoryID], [PetName], [Age], [Gender], [Color], [QuantityInStock], [ImportPrice], [ExportPrice], [Status]) VALUES (2, 2, N'Mèo Anh lông ngắn ', 5, 1, N'Gray', 20, 10000000.0000, 15000000.0000, 1)
INSERT [dbo].[tblPets] ([PetID], [CategoryID], [PetName], [Age], [Gender], [Color], [QuantityInStock], [ImportPrice], [ExportPrice], [Status]) VALUES (3, 3, N'Thỏ Anh', 3, 0, N'White', 9, 2000000.0000, 3000000.0000, 1)
SET IDENTITY_INSERT [dbo].[tblPets] OFF
ALTER TABLE [dbo].[tblBillDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblBillDetails_tblBills] FOREIGN KEY([BillID])
REFERENCES [dbo].[tblBills] ([BillID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBillDetails] CHECK CONSTRAINT [FK_tblBillDetails_tblBills]
GO
ALTER TABLE [dbo].[tblBillDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblBillDetails_tblPets] FOREIGN KEY([PetID])
REFERENCES [dbo].[tblPets] ([PetID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBillDetails] CHECK CONSTRAINT [FK_tblBillDetails_tblPets]
GO
ALTER TABLE [dbo].[tblBills]  WITH CHECK ADD  CONSTRAINT [FK_tblBills_tblCustomers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[tblCustomers] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBills] CHECK CONSTRAINT [FK_tblBills_tblCustomers]
GO
ALTER TABLE [dbo].[tblPets]  WITH CHECK ADD  CONSTRAINT [FK_tblPets_tblCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategories] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPets] CHECK CONSTRAINT [FK_tblPets_tblCategories]
GO
USE [master]
GO
